<div id ='showBlogDiv' ng-controller="showAllBlogsController">
	<h2>BLOGS</h2>
	<ul>
		<li ng-repeat="aBlog in allBlogs" style="list-style-type: none;" ng-click="selectBlog($index)">
			<h2 style="color:blue;">{{aBlog.title}}</h2>
			<cite>Posted by {{aBlog.createdBy}} on {{aBlog.createDate | date}}</cite>
			<p style="word-wrap: break-word;width: 70%;">{{aBlog.content}}</p>
			<p class="fa fa-comment push-left" ng-click="selectComment($index);passBlogId(aBlog.blogId)"></p>
			<div ng-show="isSelectedComment($index)">
				<ul>
					<li ng-repeat="aComment in allComments" style="list-style-type: none;">
						<h5 style="color:blue;">{{aComment.comment}}</h5>
						<cite>Posted by {{aComment.createdBy}} on {{aComment.createdDate | date}}</cite>
					</li>
				</ul>
				<textarea id='commentBox' ng-model='commentMessage'></textarea>
				<br/>
				<button id='postComment' ng-click = postCommentMessage(aBlog.blogId)>Post Message</button>
			</div>
			<hr>
		</li>
	</ul>
</div>